.Navbar {
  background-color: #212f3c;
  height: 60px;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.Navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.5rem;
}

.btnCloseSesion {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 0.5rem;
  margin-left: auto;
}
